<div>
  <mat-card class="card">

    <div>
      <img src="./../../assets/imagen/logo-inatec.png" class="image">
    </div>

    <form class="example-form">            
      <mat-form-field  class = "example-full-width" > 
        <mat-icon matPrefix>
            <br> account_circle &nbsp;
        </mat-icon>
          <input matInput  placeholder = "Usuario" type="text" required > 
        
    </mat-form-field >

    <mat-form-field  class = "example-full-width" > 
        <mat-icon matPrefix>
            https &nbsp;
          </mat-icon>
      <input  matInput  placeholder = "Contraseña" type="password" required > 
    </mat-form-field >
    <div class="div1">
        <button class="buttom" mat-raised-button color="primary" routerLink="/inicio">Acceder</button>
        &nbsp; &nbsp; &nbsp; &nbsp; 
        <button class="buttom" mat-raised-button color="primary" (click)="openDialog()">Registrarse</button>
    </div>

    </form>
  </mat-card>
</div>