<div>
  <mat-card class="card">

    <div>
      <img src="./../../assets/imagen/logo-inatec.png" class="image">
      <h2 class="center">{{! this.dataApi.selectedContrato.id? 'Ingresar nuevo Contrato': 'Actualizar Contrato'}} </h2>
    </div>

    <form class="example-form" name="formContrato" #formContrato="ngForm"  (ngSubmit)="onGuardarContrato(formContrato)" >            
      
      <div>  
        <input type="hidden" [(ngModel)]="this.dataApi.selectedContrato.id" name="id" >      
       </div>
      
      <mat-form-field  class = "example-full-width" > 
        <mat-icon matPrefix>
          <br> supervisor_account &nbsp;
        </mat-icon>
          <input matInput [(ngModel)]="this.dataApi.selectedContrato.tipo" name = "tipo" placeholder = "Tipo de Contrato" type="text" required  > 
    </mat-form-field >

    <mat-form-field  class = "example-full-width" > 
      <mat-icon matPrefix>
        <br> lista &nbsp;
      </mat-icon>
      <input matInput [(ngModel)]="this.dataApi.selectedContrato.fechai" name = "fechai"  placeholder = "Fecha Inicio" type="text" required > 
    </mat-form-field >

    <mat-form-field  class = "example-full-width" > 
      <mat-icon matPrefix>
        <br> redeem &nbsp;
      </mat-icon>
    <input matInput [(ngModel)]="this.dataApi.selectedContrato.fechaf" name = "fechaf"  placeholder = "Fecha Fin" type="text" required > 
    </mat-form-field >

    <div class="div1">
      <button class="buttom" mat-raised-button color="primary" routerLink="../contrato">Guardar</button>
      &nbsp; &nbsp; &nbsp; &nbsp; 
      <button (click)="resetForm()" mat-raised-button color="primary" mat-button  mat-dialog-close > Cancelar </button > 
  </div>


    </form>
  </mat-card>
</div>