<div>
  <mat-card class="card">

    <div>
      <img src="./../../assets/imagen/logo-inatec.png" class="image">
      <h2 class="center"> Agregar un Contrato </h2>
    </div>

    <form class="example-form">            
      <mat-form-field  class = "example-full-width" > 

          <input matInput  placeholder = "Grupo" type="text" required > 
        
    </mat-form-field >
    <mat-form-field  class = "example-full-width" > 

      <input matInput  placeholder = "Tipo de Contrato" type="text" required > 
    
</mat-form-field >
<mat-form-field  class = "example-full-width" > 

  <input matInput  placeholder = "No. Inss" type="text" required > 

</mat-form-field >
<mat-form-field  class = "example-full-width" > 

  <input matInput  placeholder = "Fecha de Inicio" type="text" required > 

</mat-form-field >
<mat-form-field  class = "example-full-width" > 

  <input matInput  placeholder = "Fecha de Fin de Curso" type="text" required > 

</mat-form-field >

    <div class="div1">
        <button class="buttom" mat-raised-button color="primary" routerLink="../grupo">Agregar</button>
        &nbsp; &nbsp; &nbsp; &nbsp; 
        <button mat-raised-button color="primary"  mat-button  mat-dialog-close > Cancelar </button > 
    </div>

    </form>
  </mat-card>
</div>