<div class="col m12 card subside">
    <img src="./../../assets/imagen/logo.png" class="image1">
    <h2 class="center"> Control de Grupos</h2>
</div>

<button mat-raised-button class="buttom" (click)="openDialog()">Agregar Nuevo Grupo</button>

      <mat-form-field class="example-form">
        <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Busqueda Rápida">
      </mat-form-field>
      
      <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
      
        <!-- Position Column -->
        <ng-container matColumnDef="idGrupo">
          <th mat-header-cell *matHeaderCellDef class= "SupTab"> Id Grupo </th>
          <td mat-cell *matCellDef="let element"> {{element.idGrupo}} </td>
        </ng-container>
      
        <!-- Name Column -->
        <ng-container matColumnDef="modulo">
          <th mat-header-cell *matHeaderCellDef class= "SupTab"> Módulo </th>
          <td mat-cell *matCellDef="let element"> {{element.modulo}} </td>
        </ng-container>
      
        <!-- Weight Column -->
        <ng-container matColumnDef="carrera">
          <th mat-header-cell *matHeaderCellDef class= "SupTab"> Carrera </th>
          <td mat-cell *matCellDef="let element"> {{element.carrera}} </td>
        </ng-container>

        <!-- Weight Column -->
        <ng-container matColumnDef="turno">
          <th mat-header-cell *matHeaderCellDef class= "SupTab"> Turno </th>
          <td mat-cell *matCellDef="let element"> {{element.turno}} </td>
        </ng-container>
      
        <!-- Symbol Column -->
        <ng-container matColumnDef="fechaInicio">
          <th mat-header-cell *matHeaderCellDef class= "SupTab"> Fecha de Inicio </th>
          <td mat-cell *matCellDef="let element"> {{element.fechaInicio}} </td>
        </ng-container>
      
        <!-- Symbol Column -->
        <ng-container matColumnDef="fechaFin">
          <th mat-header-cell *matHeaderCellDef class= "SupTab"> Fin de Curso </th>
          <td mat-cell *matCellDef="let element"> {{element.fechaFin}} </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>