.image1{
    top: 3px;
    min-width: 150px;
    max-width: 500px;  
    text-align: center;
    padding: 2%;
    width: 320px;
    height: 100px;
    margin: 0 auto;
    display: block;
    position: relative;
}

.center{
    text-align: center;
}
.image2{
    top: 3px;
    min-width: 150px;
    max-width: 500px;  
    text-align: center;
    padding: 2%;
    width: 300px;
    height: 200px;
    left: 200px;
    margin: auto;
    display: inline-block;
    position: center;
}

.texto{
    left: 10px;
    right: 10px;
    margin: 25px;
    -webkit-column-count: 3;
    column-count: 3;
}

@media (max-width: 1200px) { 
    .texto{
        -webkit-column-count: 3;
        column-count: 3;
    }
}

@media (max-width: 768px) { 
    .texto{
        -webkit-column-count: 2;

        column-count: 2;
    }
}

@media (max-width: 480px) { 
    .texto{
        -webkit-column-count: 1;
        column-count: 1;
    }
}

footer {
    border-top: 10px;
    border-top-color: rgba(34, 78, 85, 0.747);
    border-top-style: solid;
    padding: 20px 0;
    text-align:center;
    background-color: rgb(50, 30, 204);
    font-size: 14px;
    position:relative;
    background-color: rgb(35, 96, 216);
    color:#cccccc;
  }

.textFooter {
  position: relative;
  bottom: 0;
  width: 100%;
  height: 40px;
  color: white;
  text-align: center;
}