  <div class="">
      <div class="row">
          <div class="col m12 s12">
              <div id="ocultar" class="col m3 s0 card side ">
                  
                <div class="col m12 card subside">
                        <img src="./../../assets/imagen/logo.png" class="image1">
                        <h2 class="center"> Bienvenido como Administrador</h2>
                </div>
                
                <div class="texto">
                        <div>
                   <img src="./../../assets/imagen/vision.jpg" class="image2">
                    <h5>VISION</h5>

                    <p><b> Consolidarnos como un referente nacional
                         y regional de la Capacitación, Educación Técnica y Tecnológica, con una
                          oferta formativa innovadora, articulada con el territorio y con el 
                          sector productivo y flexible a la dinámica social, económica y política del país."
                        </b></p>
                    </div>
                    <div>
                        <img src="./../../assets/imagen/mision.jpg" class="image2">
                    <h5>MISION</h5>

                        <p><b>Somos la institución rectora de la 
                                Capacitación y la Educación Técnica y Tecnológica en Nicaragua, 
                                que forma con calidad a jóvenes y adultos, contribuyendo a su 
                                inserción en el mercado laboral, para el desarrollo económico y social del país."
                            </b></p> 
                        </div>
                    <div>
                        <img src="./../../assets/imagen/valores.jpg" class="image2">
                            <h5>NUESTRA MARCA</h5>

                    <p><b> Nuestra marca traslada los valores
                         cristianos, socialistas y solidarios de nuestro Gobierno y es un 
                         fiel reflejo de la cultura institucional que impera en todas nuestras
                          actividades de cara a satisfacer las demandas de formación de calidad,
                           de los sectores productivos y protagonistas de la Educación Técnica y 
                           Formación Profesional.
                        </b></p>
                    </div>
                                             
              </div>

              <footer>

                <div layout="row" layout-align="center center">
                    <h2> Todos los derechos reservados Tecnológico Nacional</h2>
                </div>
                <div class="icon">
                  <a class="a" href="https://www.facebook.com/TecNacional"><img class="imgicon" src="./../../assets/imagen/facebook.png"></a>
                  <a class="a" href="https://www.youtube.com/user/TecnologicoNacional"><img class="imgicon" src="./../../assets/imagen/youtube.png"></a>
                  <a class="a" href="https://web.whatsapp.com/"><img class="imgicon" src="./../../assets/imagen/wpp.png"></a>
                  <a class="a" href="https://www.instagram.com/tecnacional/?hl=es"><img class="imgicon" src="./../../assets/imagen/instagram.png"></a>
                </div>
                  <div>
                    Dirección: De la Esso 100Vrs. 
                    al Oeste, Juigalpa, Chontales.<br>
          Tel.: 2512-1481 / 2512-2627 <br>
          
          Correo Electrónico: info.centros@inatec.edu.ni
                  </div>
                </footer>
          

          </div>
      </div>
