<div>
  <mat-card class="card">

    <div>
      <img src="./../../assets/imagen/logo-inatec.png" class="image">
      <h2 class="center"> Ingresar una Carrera </h2>
    </div>

    <form class="example-form">            
      <mat-form-field  class = "example-full-width" > 
          <mat-icon matPrefix>
              <br> developer_board &nbsp;
            </mat-icon>
          <input matInput  placeholder = "Descripción" type="text" required > 
      </mat-form-field >

    <div class="div1">
        <button class="buttom" mat-raised-button color="primary" routerLink="../carrera">Agregar</button>
        &nbsp; &nbsp; &nbsp; &nbsp; 
        <button mat-raised-button color="primary"  mat-button  mat-dialog-close > Cancelar </button > 
    </div>

    </form>
  </mat-card>
</div>