.sidenav-container {
  height: 130%;
}

.sidenav {
  width: 220px;
  
}

.sidenav .mat-toolbar {
  background: inherit;

  color: blue;
  text-align: center;
  position: relative;
  font-size: 40px;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
  font-size: 30px;
}
.example-icon {
  color: blue;
  padding: 0 10px;
}

.spanclass{
  flex: 1 1 auto;
  width: 100%;
}
.color {
  color: yellow;
  padding: 0 10px;
}

.iconclass{
  color: white;
  font-size: 30px;
  padding: 0 14px;
}

.toolbar{
  width: 15%;
}

.imageMen{
  height: 30%;
      width: 60%;
      padding: 15%;
}

.formMenu{
  border-radius: 2px;
  
}

.matnavlist a{

  color: #0c0a0ae8;
  border-color: darkslategray;
  border-width: 1px;
  border-style: solid;
}
.matnavlist a:hover {
  border-color: black;
  border-width: 1px;
  background-color: blue;
}