<div class="col m12 card subside">
    <img src="./../../assets/imagen/logo.png" class="image1">
    <h4 class="center"> Asistencia Registradas</h4>
</div>

    <button class="buttom" mat-raised-button color="primary" routerLink="/inicio">Agregar</button>

    <mat-form-field class="example-form">
        <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Busqueda Rápida">
      </mat-form-field>
      
      <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
      
        <!-- Position Column -->
        <ng-container matColumnDef="position">
          <th mat-header-cell *matHeaderCellDef> Id. Asistencia </th>
          <td mat-cell *matCellDef="let element"> {{element.position}} </td>
        </ng-container>
      
        <!-- Name Column -->
        <ng-container matColumnDef="totmuj">
          <th mat-header-cell *matHeaderCellDef> Total Mujeres </th>
          <td mat-cell *matCellDef="let element"> {{element.totmuj}} </td>
        </ng-container>
      
        <!-- Weight Column -->
        <ng-container matColumnDef="totvar">
          <th mat-header-cell *matHeaderCellDef> Total Varones </th>
          <td mat-cell *matCellDef="let element"> {{element.totvar}} </td>
        </ng-container>
      
        <!-- Symbol Column -->
        <ng-container matColumnDef="total">
          <th mat-header-cell *matHeaderCellDef> Total </th>
          <td mat-cell *matCellDef="let element"> {{element.total}} </td>
        </ng-container>
      
        <!-- Name Column -->
        <ng-container matColumnDef="observacion">
            <th mat-header-cell *matHeaderCellDef> Observaciones </th>
            <td mat-cell *matCellDef="let element"> {{element.observacion}} </td>
          </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>