<div class="col m12 card subside">
    <img src="./../../assets/imagen/logo.png" class="image1">
    <h2 class="center"> Reporte de Asistencia</h2>
</div>
<form class="example-form" id="formReporte" name="formReporte" #formReporte="ngForm" >            
        <mat-card class="card">
                <mat-form-field  class = "example-full- width" > 
                
                        <input  matInput [matDatepicker]="picker" placeholder="Fecha" [(ngModel)]="fecha" name="fecha" (change)="filterFecha('fecha',fecha)"  readonly required>
                        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                        <mat-datepicker #picker ></mat-datepicker>
                        <!--<input type="datetime" matInput [(ngModel)]="this.dataApi.selectedGrupo.fecha" name="fecha" placeholder = "Fecha" type="text" (dateChange)="someMethodName($event)" required > -->
                    </mat-form-field >
                    <br>
                    <mat-form-field >
                            <mat-label>Módulo</mat-label>
                            <mat-select [(ngModel)]="modulo" name="modulo" (change)="filterModulo('modulo',modulo);">
                              <mat-option *ngFor="let item of grupo" [value]="item.modulo" >
                                {{item.modulo}}
                              </mat-option>
                            </mat-select>
                          </mat-form-field>
                          <br>
                    <button mat-raised-button color="primary" (click)="generar();">Generar</button>
                    <div #chart style="width: 100%;">

                    </div>
                
               
        </mat-card> 
                
       
</form>





