<div class="col m12 card subside">
    <img src="./../../assets/imagen/logo.png" class="image1">
 
</div>
<form style="text-align: center;" id="formReporte" name="formReporte" #formReporte="ngForm" >            
        <mat-card class="card">
                <mat-form-field  class="example-form" > 
                
                        <input  matInput [matDatepicker]="picker" placeholder="Fecha" [(ngModel)]="fecha" name="fecha"  readonly required>
                        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                        <mat-datepicker #picker ></mat-datepicker>
                        <!--<input type="datetime" matInput [(ngModel)]="this.dataApi.selectedGrupo.fecha" name="fecha" placeholder = "Fecha" type="text" (dateChange)="someMethodName($event)" required > -->
                    </mat-form-field >
                    <br>
                    <mat-form-field class="example-form" >
                            <mat-label>Módulo</mat-label>
                            <mat-select [(ngModel)]="modulo" name="modulo" >
                              <mat-option *ngFor="let item of grupo" [value]="item.modulo" >
                                {{item.modulo}}
                              </mat-option>
                            </mat-select>
                          </mat-form-field>
                          <br>
                    <button mat-raised-button color="primary" (click)="generar();">Generar</button>
                    <button mat-raised-button color="primary" style="margin-left: 10px;"  (click)="descargar()">Descargar PDF</button>
                    <div #reporte>
                        <h2 class="center"> Reporte de Asistencia</h2>
                      <div #chart style="width: 100%;" style="text-align: center;margin: 0 auto;">
                      
                      </div>
                    </div>
                   
                
               
        </mat-card> 
                
       
</form>





